!!!
%html
  %head
    %title Spar App
    [{ stylesheet_link_tag(application) }]
  %body
    .container
      .hero-unit
        %h1
          What A Cool App
      .navbar
        .navbar-inner
          %ul.nav
            %li <a href="#home" id="home-trigger">Home</a>
            %li <a href="#about" id="about-trigger">About</a>
      .row
        .span8#content

      .row
        .errata.span6
          %h3
            More Spar
          %p 
            <a href="http://github.com/GoBoundless/spar" class="btn">Spar Home</a> 
            <a href="http://github.com/GoBoundless/spar" class="btn">Spar on Github</a>
            <a href="http://github.com/GoBoundless/spar-examples" class="btn">Spar Examples on Github</a>
          %h4
            <3
            %br
            Team Boundless

          
    [{ javascript_include_tag(application) }]